:root {
    --container-width: 1128px;
}

@media screen and (max-width: 600px) {
    :root {
        --container-width: 90vw;
    }
}

#hero-about {
    background-image: url('about-images/hero-image-about.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 334px;
    background-color: #F7736B;
}

#hero-about h1 {
    max-width: var(--container-width);
    margin: 3.45em auto;
    color: #fff;
}

#pepper-intro {
    background: #fafafa
}

.intro-container {
    max-width: var(--container-width);
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.left-side-info {
    width: 40%;
}

.right-side-images {
    width: 40%;
    align-self: center;
}

.right-side-images img {
    max-width: 456px;
    width: 100%;
}

.left-side-info h3 {
    color: #F7736B;
}


.intro-container ul li {
    font-size: 1.375em;
    line-height: 1.5em;
    font-family: 'Lato', Arial, sans-serif;
    color: #000;
    padding: 1em 0 1em 1em;
    position: relative;
}

.intro-container ul {
    padding: 0 0 0 1em;
    list-style: none;
}

.intro-container ul li::before {
    content: '';
    background: url('about-images/red-pepper-list.png') top no-repeat;
    background-size: contain;
    width: 31px;
    height: 31px;
    position: absolute;
    left: -1em;
    padding: 1em 0;
}

section > div {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 3em;
}

#social-responsible p,
#team p {
    max-width: 40em;
    
}

#team {
    background: #fafafa;
}


/*team pepper*/


.col-wrap{
    display: flex;
    justify-content: space-between;
    margin: 3.5em 0 0 0;
}
.col-wrap-2{
    display: flex;
    justify-content: space-evenly;
    margin: 3.5em 0 0 0;
}

.col {
    max-width: 32%;
    min-width: 12em;
    display: flex;
    flex-direction: column;
    min-height: 245px;
}

.col img {
    max-width: 128px;
    height: 128px; 
    align-self: center;
    border: 1px solid white;
    border-radius: 100px;
}

.tile {
    padding: 25px 40px;
    background: #F7736B;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(108, 158, 215, .15);
    position: relative;
}

.tile::after{
    content: '';
    position: absolute;
    background-image: url('about-images/team-background-pepper.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 272px;
    height: 300px;
    transform: translateX(-40px) translateY(-25px);
}
.col h3 {
    margin: 1em 0 0 0;
}

.col p {
    margin: .5em 0 0 0;
}

.col p,
.col h3 {
    align-self: center;
    color: #fff;
}


/* ===========================================
                    TABLET
  ============================================ */

  @media screen and (max-width: 977px) and (min-width: 551px) {
    
    .intro-container {
        max-width: var(--container-width);
    flex-direction: column;
    }
    .left-side-info {
        width: 100%;
    }
    section > div {
        padding: 0 3em;
    }

.right-side-images {
    width: 68%;
}

  }

  /* ===========================================
                END  TABLET
  ============================================ */
  @media (max-width: 890px) and (min-width:551px) {

    .col-wrap,
    .col-wrap-2 {
        flex-direction: column;
        align-items: center;
    }

    .col-wrap-2 {
        margin: 0;
    }

    .tile {
        margin-bottom: 2em;
    }

  }



/* =============================
              MOBILE
  ============================== */


  @media (max-width: 550px) {
    .intro-container {
        max-width: var(--container-width);
    flex-direction: column;
    }
    .left-side-info {
        width: 100%;
    }
    section > div {
        padding: 0 2em;
    }
    .right-side-images {
        width: 100%;
    }
    .col-wrap,
    .col-wrap-2 {
        flex-direction: column;
        align-items: center;
    }

    .col-wrap-2 {
        margin: 0;
    }

    .tile {
        margin-bottom: 2em;
    }


    #hero-about h1 {
        text-align: center;
        margin: 4.5em auto;
    }
  }